@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ##### Variables ##### */
:root {
  --border-radius-primary: 2rem;
  --border-radius-secondary: 1rem;
  --margin: 0.25rem;
}

/* ##### Common ##### */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  background-color: black;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-stretch {
  flex: 1 0 0;
}

/* ##### Navbar - Start ##### */

.navbar {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

.navbar-brand {
  font-size: 56px;
  font-weight: bold;
  font-family: monospace;
}

.nav-item .nav-link {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

/* ##### Navbar - End ##### */

.names {
  font-family: monospace;
  font-weight: bold;
}

.symbol {
  width: 30px;
  padding-left: 4px;
}

.product__item:hover {
  border: 1px solid lightgray;
}

.dropdown-toggle {
  color: red;
  font-family: monospace;
  font-weight: bold;
}

.dropdown-item {
  cursor: pointer;
}

.button {
  background-color: #ced89e;
}

.button:hover {
  background-color: #b689c0;
}

.button1 {
  background-color: #b25068;
  font-size: 0.75rem;
  font-weight: bold;
}

.photo {
  height: 165px;
}

.card .card-body .photo {
  border-radius: var(--border-radius-secondary);
}

.card .card-body .photo:hover {
  -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
}

.ca {
  color: black;
  text-decoration: none;
}

h2 {
  padding-left: 37px;
}

.ch1 {
  margin-left: 40px;
}

.change {
  margin-left: 80px;
  height: 59px;
  margin-top: 30px;
}

.change1 {
  height: 59px;
}

.ch {
  padding: 10px;
  margin: 30px;
}

#products {
  background-repeat: no-repeat;
  padding: 40px;
  text-align: center;
}

.pri {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}

.card__container {
  padding: 0.25rem;
}

.card {
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
  background-color: white;
  border-radius: var(--border-radius-primary);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
  font-size: 15px;
}

.card__container:not(:last-child) {
  margin-bottom: 12px;
}

.off-season {
  color: red;
  font-weight: 500;
}

.shop-item__cart__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.shop-item__cart__container .shop-item__cart__photo {
  height: 120px;
  margin-bottom: 0.25rem;
  width: 120px;
}

.shop-item__cart__container .btn-group {
  max-width: 200px;
}

.shoe {
  margin-top: 9px;
  margin-bottom: 13px;
  height: 40px;
  margin-right: 5px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.counter-btn-group {
  width: 120px;
  font-size: 14px;
  margin-bottom: 0.25rem;
}

.remove-button {
  width: 120px;
}

.shop-item__container__row:not(:last-child) {
  margin-bottom: 1rem;
}

.shop-item__container {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.price__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 60px;
  font-size: 1.25rem;
  font-weight: bold;
  height: 150px;
  justify-content: center;
  text-align: center;
}

.price__container .price__total {
  white-space: pre;
}

.cart__container {
  border-radius: var(--border-radius-primary);
  border: 1px solid lightgrey;
  padding: 1rem;
  margin: 0 1rem;
}

.your-cart {
  font-family: caveat;
  font-weight: bold;
}

.your-cart__container {
  color: #455a64;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.your-cart__container .your-cart {
  border-bottom: 2px solid #455a64;
}

.total-price__container {
  align-items: flex-start;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: space-evenly;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.total-price__container .total-price__cta {
  display: inline-block;
  text-align: center;
  width: 154px;
}

.total-price__container .total-price {
  display: inline-block;
  text-align: center;
  width: 60px;
}
.responsive {
  width: 100%;
  max-width: 1530px;
  height: 600px;
}
.y {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.x {
  display: flex;
  flex-direction: row;
}

.footer {
  background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

.footer__item {
  margin: 10px;
  text-align: center;
}

.fa-brands {
  margin: 10px;
}
/* Account  */
.account {
  margin-top: 88px;
}
form {
  padding: 20px 0;
  position: relative;
}
form input {
  border: 1px solid lightgray;
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
}

form button {
  appearance: none;
  outline: 0;
  border: 0;
  padding: 10px 15px;
  margin-bottom: 45px;
  color: #5090a3;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}
.button_align {
  text-align: center;
}
